
/* Ensure the font and structure are consistent*/
.container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* Style the logo */
.logo {
  font-size: 36px;
  font-weight: bold;
  color: #FFA500; 
  margin-bottom: 20px;
}

/* Style the navigation bar to make it in the middle */
.nav-link {
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  color: #333; 
}

/* Change the color of the link when active and hovering */
.nav-link:active {
  color: #FFA500; 
  font-weight: bold;
}

.nav-link:hover{
  color:orange;
}



